<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
    <a class="btn btn-secondary" href="/buy/new">+</a>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>날짜</th>
                <th>거래처</th>
                <th>품번</th>
                <th>품목명</th>
                <th>단위</th>
                <th>수량</th>
                <th>통화</th>
                <th>공급단가</th>
                <th>공급가</th>
                <th>부가세</th>
                <th>금액</th>
                <th>비고</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="buy : ${buys}">
                <td th:text="${buy.date}"></td>
                <td th:text="${buy.customer}"></td>
                <td th:text="${buy.itemInfo.itemNum}"></td>
                <td th:text="${buy.itemInfo.itemName}"></td>
                <td th:text="${buy.unit}"></td>
                <td th:text="${buy.quantity}"></td>
                <td th:text="${buy.currency}"></td>
                <td th:text="${buy.unitPrice}"></td>
                <td th:text="${buy.price}"></td>
                <td th:text="${buy.vat}"></td>
                <td th:text="${buy.totalPrice}"></td>
                <td th:text="${buy.remarks}"></td>
                <td>
                    <a href="#" th:href="@{/buy/{id}/edit (id=${buy.id})}" class="btn btn-primary" role="button">수정</a>
                </td> </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="~{fragments/footer :: footer}"/>

</div> <!-- /container -->

</body>
</html>