<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="~{fragments/bodyHeader :: bodyHeader}" />

    <div class="jumbotron"> <h1>JM ERP</h1>
        <p>
            <a class="btn btn-lg btn-primary" href="/item">품목 관리</a>
            <a class="btn btn-lg btn-primary" href="/stock">재고 현황</a>
            <a class="btn btn-lg btn-info" href="/sell">매출현황</a>
            <a class="btn btn-lg btn-info" href="/buy">매입현황</a>
        </p>
    </div>

    <div th:replace="~{fragments/footer :: footer}" />

</div> <!-- /container -->
</body>
</html>
